[2019-09-29 20:56] mmCodingjs opened #3 "Creating Film Page"
#2

This is the idea that I've had to list all films

[2019-09-29 21:29] GarrettKucinski opened #4 "Create Product Slider for Gifts Page"
Creating the slider shown in the basic layout to be displayed on the gifts page.

[2019-09-30 10:50] #3 closed

[2019-09-30 10:50] #4 closed

[2019-10-01 02:41] anirudh-kac opened #20 "Fix Index Carousel"
Carousel overlaps the intro image and text on small and medium screen size:

![Screen Shot 2019-10-01 at 07 50 26](https://user-images.githubusercontent.com/42580581/65930341-ff9cd500-e422-11e9-9da1-751a032e0d63.png)

[2019-10-01 07:27] dppeykov opened #25 "The recipes title is copied from the movies page and all the section comments are from the same page."
I'm working on fixing the title and the comments, as well as adding a new recipe to the list.

[2019-10-01 07:49] anirudh-kac commented on #25
I have opened a pull request fixing the title of the same.

[2019-10-01 07:53] dppeykov commented on #25
Ok, I will leave the title and just fix the comments.

[2019-10-01 08:20] dppeykov commented on #25
The fixes are waiting to be merged. Closing the issue.

[2019-10-01 08:20] #25 closed

[2019-10-01 08:53] MattCSmith commented on #20
For me the images are just stacked underneath each other.
![image](https://user-images.githubusercontent.com/6190356/65948024-57dad380-e431-11e9-9008-a332e63d8e1f.png)

[2019-10-01 09:00] MattCSmith opened #28 "[CREATE] Facts Page"
Create the basic page skeleton for the fact page, inline with the design.

[2019-10-01 09:04] MattCSmith opened #29 "[BUG] Gifts Nav Link Outdated"
The Gifts navbar link needs updating on each pages navbar, so it links to the gifts.html page

[2019-10-01 09:09] MattCSmith opened #30 "[BUG] Songs.html - Show a default song"
It would be nice, if on page load this showed the first song, rather than white space. Much like the Recipes page.

![image](https://user-images.githubusercontent.com/6190356/65949065-632efe80-e433-11e9-94b2-16c2d26f9298.png)

[2019-10-01 09:12] arunikayadav42 commented on #28
Can I please start working on this issue?

[2019-10-01 09:13] MattCSmith opened #32 "[CREATE] Games Page"
Create the basic page skeleton for the games page, inline with the design.
### **IF YOU WISH TO WORK ON THIS, PLEASE CHECK NO ONE HAS CLAIMED IT BELOW, IF NOT CLAIM IT BY COMMENTING**

[2019-10-01 09:13] mayankwadhwani commented on #32
Can you please ellaborate, i want to work on this.

[2019-10-01 09:14] MattCSmith opened #33 "[CREATE] Activities Page"
Create the basic page skeleton for the Activities page, inline with the design.

### **IF YOU WISH TO WORK ON THIS, PLEASE CHECK NO ONE HAS CLAIMED IT BELOW, IF NOT CLAIM IT BY COMMENTING**

[2019-10-01 09:18] MattCSmith opened #34 "[BUG] Films.html - Show a default film"
It would be nice, if on page load this showed the first film, rather than white space. Much like the Recipes page.
![image](https://user-images.githubusercontent.com/6190356/65949781-bf465280-e434-11e9-9b8f-15a88ae5319f.png)

[2019-10-01 09:21] sanjaymahto commented on #34
hey! can I take this issue?

[2019-10-01 09:29] sebulbausb opened #36 "[Fix] Homepage nav on mobile"
Currently, the main nav doesn't work on the homepage.

[2019-10-01 09:33] #29 closed

[2019-10-01 09:35] #30 closed

[2019-10-01 09:42] MattCSmith commented on #34
Sure move it over to the in progress section on the taskboard here:
https://github.com/zero-to-mastery/Santafied/projects/1

[2019-10-01 09:45] MattCSmith commented on #34
Actually @sanjaymahto this has already been solved. The books page has the same problem you can fix thought?

[2019-10-01 09:47] #34 closed

[2019-10-01 09:49] #28 closed

[2019-10-01 09:54] MattCSmith commented on #32
You just need to create the basic page layout to match the design as the page does not currently exist.
Dont worry so much about making sure all the content is there, that can be done in future PRs.

[2019-10-01 09:59] MattCSmith opened #42 "[CONTENT] - Add page content - Ongoing task, everyone can do this"
### **This task is on going, we can never have enough content 😄**

Several pages are in need of some content cards. You can add as many as you like for any of the following:

- Recipes
- Songs
- Films
- Books

Once the following pages have been created they will also likely need content too:
- Facts
- Games
- Activities

[2019-10-01 10:01] Edmund1645 commented on #33
I will be working on this.
Also, I cannot seem to drag the card referencing this issue on the task board to `in progress`

[2019-10-01 10:04] MattCSmith commented on #36
### **IF YOU WISH TO WORK ON THIS, PLEASE CHECK ITS STILL AVAILABLE & MOVE IT TO THE `IN PROGRESS` SECTION [here](https://github.com/zero-to-mastery/Santafied/projects/1)**

[2019-10-01 10:07] MattCSmith commented on #33
I have moved it for you. I will look into why that is

[2019-10-01 10:11] sebulbausb commented on #36
I can fix it, but have no idea how to move it to "in progress"

[2019-10-01 10:24] shivamkainth commented on #42
I am going to work on this.

[2019-10-01 10:26] MattCSmith commented on #36
Yeah apparently the task boards arent flexible enough permission wise for what we need. Im going to close the permission board and just use issues/comments.

[2019-10-01 10:34] MattCSmith commented on #36
Closing as resolved in #43

[2019-10-01 10:34] #36 closed

[2019-10-01 10:45] #20 closed

[2019-10-01 10:47] sebulbausb opened #49 "[FIX] Logo should have href to homepage for better UX"

[2019-10-01 10:47] MattCSmith opened #50 "[BUG] Facts link produces a 404 on some pages"
Due to the way github pages work, the links on some pages are incorrect.

### **IF YOU WISH TO WORK ON THIS, PLEASE CHECK NO ONE HAS CLAIMED IT BELOW, IF NOT CLAIM IT BY COMMENTING**

[2019-10-01 10:49] sebulbausb commented on #50
Can work on this.

[2019-10-01 10:50] MattCSmith opened #51 "[UPDATE] Index Carousel"
We seem to have two carousels for the index page, we only need one, ideally it should match the [design](https://raw.githubusercontent.com/zero-to-mastery/Santafied/master/design/general-layout.png) as closely as possible 😄

### **IF YOU WISH TO WORK ON THIS, PLEASE CHECK NO ONE HAS CLAIMED IT BELOW, IF NOT CLAIM IT BY COMMENTING**

[2019-10-01 10:58] marekgebka commented on #51
I'll take care of it.

[2019-10-01 10:59] error401de commented on #49
I'll take care

[2019-10-01 10:59] MattCSmith opened #54 "[UPDATE] Gifts Page"
I think it would be awesome if changed up the gifts page slightly. Lets have:

-  The "categories" as a nicely sized `<h2>`'s
- `<h3> or <p>` Subtile
- Then use the [Card Varient 2](https://github.com/zero-to-mastery/Santafied/blob/master/design/card-designs.png) for the designs to list some products, for example:

### Plush Toys
#### Plush Toys are always the cutest gifts. Especially kids would l

[2019-10-01 11:04] ikrydev commented on #54
Can I Assign for this ?

[2019-10-01 11:12] error401de commented on #49
https://github.com/zero-to-mastery/Santafied/pull/59

[2019-10-01 11:12] soulspark666 opened #61 "Use Compressed Images"
The images used in this webpage are way too large. Usage of mozjpeg image encoder will help to reduce its size while keeping the quality.

[2019-10-01 11:32] bolajiscott commented on #54
am intrested on working on this

[2019-10-01 11:37] bolajiscott commented on #51
i can work on this

[2019-10-01 12:19] #49 closed

[2019-10-01 12:21] MattCSmith commented on #51
Closing as addressed in #62

[2019-10-01 12:21] #51 closed

[2019-10-01 12:27] #50 closed

[2019-10-01 12:34] anirudh-kac opened #72 "Index Carousel"
The index Carousel is again overlapping all the content when viewed on a mobile screen.
![Screenshot_20191001-180231](https://user-images.githubusercontent.com/42580581/65962264-ccb90800-e447-11e9-8c27-8aa131208046.png)

[2019-10-01 12:47] #54 closed

[2019-10-01 14:02] sianlouisa commented on #32
Hi, happy to work on this if @mayankwadhwani has not claimed? :smile:

[2019-10-01 14:30] sianlouisa opened #74 "Facts - Display selected item and consistent styling"
On the right it should only display the selected item from the nav, and all items are consistent with styles (e.g same width).

I will take a look at this.

![Screenshot from 2019-10-01 16-08-03](https://user-images.githubusercontent.com/42354968/65971580-ab1c4880-e468-11e9-8dc2-9fc8e79f3988.png)

[2019-10-01 15:18] UcheSylvester opened #78 "GIFTS - Fix the Gift Page (Properly align the gifts card)"
The gift cards on the gift page are not properly aligned. Also, the text looks a bit off
I'd like to work on this

![image](https://user-images.githubusercontent.com/38369717/65975685-e3bb2280-e466-11e9-8971-d2da38d74ffe.png)

![image](https://user-images.githubusercontent.com/38369717/65975782-0a795900-e467-11e9-92d4-50d45bc42e88.png)

[2019-10-01 16:02] mhel14 opened #81 "Facts Page - Update responsive styles for multiple device sizes"
Fix responsiveness.

[2019-10-01 16:50] #32 closed

[2019-10-01 17:02] #78 closed

[2019-10-01 17:04] MattCSmith commented on #81
Fixed in #84, closing

[2019-10-01 17:04] #81 closed

[2019-10-01 18:20] jlapitan opened #89 "add lazy load"
Add lazy load functionality for the images.

[2019-10-01 20:58] DanielBiegler commented on #61
Heyo! I'd like to help.

I'm on it.

[2019-10-01 21:33] #61 closed

[2019-10-01 21:53] anantankur opened #97 "Footer placement"
![footer](https://user-images.githubusercontent.com/38914008/66003490-de3ff580-e4c3-11e9-8016-2472f5e85cf3.png)

[2019-10-02 00:39] anirudh-kac commented on #72
Issue has been fixed. Closing it

[2019-10-02 00:39] #72 closed

[2019-10-02 02:43] rgavinc opened #100 "Better mobile experience on home page"
The main image on the home page is too wide for mobile view.

[2019-10-02 02:53] PawanKolhe commented on #97
I would like to fix this.

[2019-10-02 02:53] mhel14 opened #101 "Recipes page responsive"

[2019-10-02 02:56] rgavinc commented on #100
I created a PR for this (#102). I'm not sure how to link the PR to this task though..

[2019-10-02 03:15] PawanKolhe commented on #97
Made pull request: #106

[2019-10-02 03:27] mhel14 opened #109 "Fix sub-page footer structure bug and styles"

[2019-10-02 04:00] #97 closed

[2019-10-02 07:17] UcheSylvester opened #121 "Adding Santa favicon to pages"
There is no favicon for the pages yet. I will work on this

[2019-10-02 07:51] guigui64 opened #122 "Menu from activities page"
Impossible to open menu (on mobile at least) when in the activities page

[2019-10-02 07:51] guigui64 commented on #122
I'll take care of it.

[2019-10-02 09:37] thisisabdus commented on #121
Hey, thanks for looking into it. But someone else has already fixed this issue!

[2019-10-02 09:37] #121 closed

[2019-10-02 09:38] thisisabdus commented on #109
Hey, if you want to work on it, please let me know. I'l assign it to you.

[2019-10-02 09:42] thisisabdus commented on #101
Responsive, I guess. Feel free to improve it if you want.
![santafied-ss](https://user-images.githubusercontent.com/32123917/66034502-f9901c80-e526-11e9-91b3-90684e1d9375.png)

[2019-10-02 09:49] mhel14 commented on #109
Hello, my updates for this fix is already merged I think. :)

[2019-10-02 10:03] #101 closed

[2019-10-02 10:03] #109 closed

[2019-10-02 10:10] ofrankowska opened #130 "Fix footer on sub-pages"
Footer on sub-pages doesn't stick to the bottom of the page.
I'm working on this.

[2019-10-02 12:04] guigui64 opened #134 "Snowball throw game image"
Fix the image for the snowball game

[2019-10-02 12:04] guigui64 commented on #134
I'll take care of it.

[2019-10-02 12:05] guigui64 opened #135 "[BUG] - Impossible to close the more toggle in the menu"
At least on mobile.

[2019-10-02 12:20] guigui64 commented on #122
I can't reproduce. Either my phone bugged earlier or someone fixed it in the mean time.

[2019-10-02 12:20] #122 closed

[2019-10-02 12:49] #74 closed

[2019-10-02 12:54] sianlouisa opened #138 "Fix typos in read me"
Fix typos in README.md

[2019-10-02 13:04] sianlouisa opened #140 "Create Party Costumes Page"
Create skeleton costumes page in line with style and add to navigation

[2019-10-02 13:14] TehPsychedelic commented on #89
Improvements:
 - Verify if the browser supports lazy loading natively (Chrome 75/76+), then just use the "loading" property instead of an observer with a viewpoint.
 - Use tiny thumbnails or a "cool" placeholder for the images before they load.

[2019-10-02 13:17] #138 closed

[2019-10-02 13:20] #130 closed

[2019-10-02 14:41] soumsps opened #146 "Fixing CSS styling on Games page"
I am working on issue related to games page.
Currently its footer is not following correct styling

[2019-10-02 15:06] #146 closed

[2019-10-02 15:46] soumsps opened #148 "Issues on Facts page"
There are many issue on facts page ... mostly related to improper Html tags

I think we need to revert back some previous merge for facts pages.

[2019-10-02 17:53] itsaiub commented on #148
fixed the issues

[2019-10-02 18:33] guigui64 opened #154 "Add a song from pentatonix"

[2019-10-02 18:42] atomikjaye commented on #154
I can work on this

[2019-10-02 18:45] guigui64 commented on #154
Sorry @atomikjaye, I forgot to write I was already on it...

[2019-10-02 18:45] atomikjaye commented on #154
I just saw, thanks!

[2019-10-02 18:58] guigui64 opened #156 "Show the selected page in bold in the menu"

[2019-10-02 19:00] guigui64 commented on #134
Someone already did it

[2019-10-02 19:00] #134 closed

[2019-10-02 19:05] diegchav opened #158 "Carousel images in home page don't fit the entire parent div on smaller devices"

[2019-10-02 19:07] diegchav commented on #158
I'll be working on this unless someone already fixed it.

[2019-10-02 19:41] diegchav commented on #158
Actually not an issue, I'm gonna close it

[2019-10-02 19:41] #158 closed

[2019-10-02 20:25] diegchav opened #159 "Features section doesn't look good in smaller devices."
**Issue:**
On smaller screens the individual features on 'Features' section in home page overlap each other.

**Proposed solution:**
Display individual features one per row on small devices, and 3 per row an large devices.

[2019-10-02 21:22] #154 closed

[2019-10-02 21:26] #156 closed

[2019-10-03 01:01] ChristinaJackson commented on #42
There are no party costumes! I'll work on adding some

[2019-10-03 03:52] soumsps commented on #148
Could you mention the commit no. that fixed this issue ?

[2019-10-03 04:30] #148 closed

[2019-10-03 11:02] guigui64 commented on #135
Seems to come from an external css file.

[2019-10-03 14:11] ChristinaJackson opened #179 "Nav links missing on some pages"

[2019-10-03 14:11] ChristinaJackson commented on #179
Working on this currently

[2019-10-03 14:13] ChristinaJackson opened #180 "There are spelling issues on the gifts page"
Spelling and punctuation needs to be fixed on gifts page

[2019-10-03 14:14] ChristinaJackson opened #181 "Images needed on the gifts page"
We need some better images for this gift options!

[2019-10-03 15:48] vipinkumar96 commented on #42
I will be adding more facts to the repo.

[2019-10-03 15:58] #159 closed

[2019-10-03 18:28] katharinabrx commented on #180
I can look into this page and repair a few things

[2019-10-03 21:46] takaras commented on #89
Lazy loading should be used only for images below the fold.
The above the fold images are critical assets that must be loaded as soon as possible.
[More on this topic](https://developers.google.com/web/fundamentals/performance/lazy-loading-guidance/images-and-video#mind_the_fold)

[2019-10-04 00:24] akmalist commented on #179
I can take a look and fix it

[2019-10-04 00:27] akmalist commented on #181
I can take a look add some gift images

[2019-10-04 01:07] akmalist commented on #181
Added new images to gifts section

[2019-10-04 11:19] #33 closed

[2019-10-04 11:22] MattCSmith commented on #100
Closing as implemented

[2019-10-04 11:22] #100 closed

[2019-10-04 11:27] #140 closed

[2019-10-04 11:51] MattCSmith commented on #181
Closing as resolved

[2019-10-04 11:51] #181 closed

[2019-10-04 12:22] kohli6010 commented on #42
I would like to add books regarding christmas

[2019-10-04 12:30] Bhupeshverma commented on #135
I can work on that

[2019-10-04 12:37] MattCSmith opened #207 "[Enhancement] - Change Navbar Style inline with new design"
Santa decided the navbar looks too crowded and would just like to add all the links to a single drop down and add a email subscriber form.

Adjust the navbar on all pages to reflected the updated design, found [here](https://github.com/zero-to-mastery/Santafied/blob/master/design/newdesign.png)

### **IF YOU WISH TO WORK ON THIS, PLEASE CHECK NO ONE HAS CLAIMED IT BELOW, IF NOT CLAIM IT BY COMMENT

[2019-10-04 12:41] MattCSmith opened #208 "Javascript navbard dropdown generator function"
Updating the links on each page is becoming a real headache, causing a lot of broken links.

In this task you need to create some Javascript that will have all the page links, generate the links for the new navbar drop down (see issue #207) and then inject them into the headers dropdown on each page.

This way when a link needs adding or updating it can be done from the JS file.
Ensure that you co

[2019-10-04 12:43] MattCSmith opened #209 "Create page cards on the index"
The main content area of the index page should have a card for each page the website has.
The design and layout for this is up to you, but remember it also needs to be responsive for different screen sizes.

### **IF YOU WISH TO WORK ON THIS, PLEASE CHECK NO ONE HAS CLAIMED IT BELOW, IF NOT CLAIM IT BY COMMENTING**

[2019-10-04 12:47] MattCSmith opened #210 "Correct gifts page layout"
The background images and colored background should reach each side of the page:

![image](https://user-images.githubusercontent.com/6190356/66208635-7cdb7a80-e6ad-11e9-9df4-b88e762068ba.png)

### **IF YOU WISH TO WORK ON THIS, PLEASE CHECK NO ONE HAS CLAIMED IT BELOW, IF NOT CLAIM IT BY COMMENTING**

[2019-10-04 12:50] fabrizvi commented on #210
Hey, I would like to work on this issue?

[2019-10-04 12:51] Pr0ftR3gret commented on #207
I'd like to work on this on

[2019-10-04 12:51] MattCSmith opened #211 "Fix Books layout"
Looks like there is an issue with the way cards are being displayed. Only one card on the right hand side should be displayed at any one time:
![image](https://user-images.githubusercontent.com/6190356/66208803-ebb8d380-e6ad-11e9-901d-ab1f63f3ba2a.png)

Also the footer should remain full width:
![image](https://user-images.githubusercontent.com/6190356/66208850-08eda200-e6ae-11e9-9d99-6068fd516f6b

[2019-10-04 12:53] MattCSmith opened #212 "Activities page layout"
The cards could do with being spread across the page a little more removing the white space towards the right hand side

![image](https://user-images.githubusercontent.com/6190356/66208957-50742e00-e6ae-11e9-8d3d-3c30145cb21e.png)

### **IF YOU WISH TO WORK ON THIS, PLEASE CHECK NO ONE HAS CLAIMED IT BELOW, IF NOT CLAIM IT BY COMMENTING**

[2019-10-04 12:54] MattCSmith opened #213 "Activities Card Design"
These cards look a little plain, perhaps we could spice them up with some styling or images maybe

### **IF YOU WISH TO WORK ON THIS, PLEASE CHECK NO ONE HAS CLAIMED IT BELOW, IF NOT CLAIM IT BY COMMENTING**

[2019-10-04 12:56] MattCSmith opened #214 "Elf name generator"
This page might benefit from some further styling to make it stand out a little more.

### **IF YOU WISH TO WORK ON THIS, PLEASE CHECK NO ONE HAS CLAIMED IT BELOW, IF NOT CLAIM IT BY COMMENTING**

[2019-10-04 12:58] MattCSmith opened #215 "Snowman name generator"
Perhaps we could rename the "Elf name generator" page to just "Name Generators" and create this snowman name generator:

![image](https://user-images.githubusercontent.com/6190356/66209324-02abf580-e6af-11e9-9e06-869c614f05db.png)

### **IF YOU WISH TO WORK ON THIS, PLEASE CHECK NO ONE HAS CLAIMED IT BELOW, IF NOT CLAIM IT BY COMMENTING**

[2019-10-04 13:00] MattCSmith opened #217 "Reindeer name generator"
Perhaps we could rename the "Elf name generator" page to just "Name Generators" and create this reindeer name generator:

![image](https://user-images.githubusercontent.com/6190356/66209411-34bd5780-e6af-11e9-8a62-e6fdd89de150.png)

### **IF YOU WISH TO WORK ON THIS, PLEASE CHECK NO ONE HAS CLAIMED IT BELOW, IF NOT CLAIM IT BY COMMENTING**

[2019-10-04 13:03] MattCSmith opened #218 "Santa's Blog"
Create a blog page
with a similar layout to this:
![image](https://user-images.githubusercontent.com/6190356/66209643-b4e3bd00-e6af-11e9-8b08-bddd51b9b97c.png)

### **IF YOU WISH TO WORK ON THIS, PLEASE CHECK NO ONE HAS CLAIMED IT BELOW, IF NOT CLAIM IT BY COMMENTING**

[2019-10-04 13:04] MattCSmith opened #219 "Standardise footer across all pages"
The index page has the footer inline with the design, lets apply this across all pages on the site

### **IF YOU WISH TO WORK ON THIS, PLEASE CHECK NO ONE HAS CLAIMED IT BELOW, IF NOT CLAIM IT BY COMMENTING**

[2019-10-04 13:06] MattCSmith commented on #210
@fabrizvi Awesome go for it

[2019-10-04 13:09] KarlaChen commented on #212
Hi, @MattCSmith . Can I try to fix it?

[2019-10-04 13:10] MattCSmith commented on #212
@KarlaChen perfect go for it 😃

[2019-10-04 13:12] MattCSmith commented on #207
@Pr0ftR3gret awesome, go head 😸

[2019-10-04 13:26] AkshitAggarwal commented on #214
Hey, I'm basically starting out with HTML and CSS, I think I should work on this one. Please assign it to me.

[2019-10-04 13:29] Shaikh-Ubaid commented on #212
Do you just want the cards to be positioned at the centre of the page with some increased size? I can do this

[2019-10-04 13:32] NitinNair89 commented on #213
Do you have any design in mind?

[2019-10-04 13:34] NitinNair89 commented on #211
Happy to take this up. Please assign to me

[2019-10-04 13:47] ramyamahi commented on #213
@MattCSmith   I would like to do this card design. Can I try this?

[2019-10-04 14:10] ann-dev commented on #215
Hi, I'm currently going through Zero To Mastery course, I would like to work on this project if possible :)

[2019-10-04 14:25] akmalist commented on #219
I can take and work on this.

[2019-10-04 14:32] #209 closed

[2019-10-04 14:56] mmosehauer commented on #218
I'll take this one

[2019-10-04 15:21] Ananthavijay commented on #219
can i work on this?

[2019-10-04 15:27] jianweilee128 commented on #217
I will work on this issue.

[2019-10-04 15:54] CouchCat opened #224 "Refactor layout of navbar"
- Make use of the white space on the navbar by pushing items to the sides
- Vertically align items
- Make navbar expand on xl-size since it accommodates many links

[2019-10-04 16:03] CouchCat commented on #224
Working on it myself :P #226

[2019-10-04 16:17] cgunston commented on #180
Hi @ChristinaJackson, I have made some spelling and grammar fixes for the gift page here - https://github.com/zero-to-mastery/Santafied/pull/228 - please could you review?

[2019-10-04 16:40] CouchCat commented on #208
I would like to take this!

[2019-10-04 17:19] Shaikh-Ubaid commented on #212
May be this should be closed now. I have fixed it and it has also been merged.

[2019-10-04 18:39] danielharvilik commented on #42
I would like to take movies

[2019-10-04 19:28] ramyamahi commented on #213
#234

[2019-10-04 19:46] fabrizvi commented on #210
I resolved it already #225.
Um sorry I don't know much about PR so I don't know how to make PR for issues.

[2019-10-04 20:16] akmalist opened #236 "Party Costumes page for "Snow Flake costume" do not have buttons to purchase with appropriate links"
https://zero-to-mastery.github.io/Santafied/pages/party-costumes.html

[2019-10-04 20:16] akmalist commented on #236
I will work on this

[2019-10-05 05:04] asprazz commented on #211
@NitinNair89 Are you still on it?

[2019-10-05 05:14] NitinNair89 commented on #211
Yes, I will do it today. Saturday morning just started here.

[2019-10-05 05:19] asprazz commented on #211
I have done it
Can I send PR ? Please  :+1:

[2019-10-05 05:26] asprazz commented on #211
@MattCSmith Thank You for this opportunity... Looking forward to many contributions Please merge only if @NitinNair89 says yes.. :)

[2019-10-05 06:01] NitinNair89 commented on #211
If you have already done the code changes, then it's fine. No point in re-doing stuffs :slightly_smiling_face:

[2019-10-05 15:53] DiscoverSquishy commented on #211
@MattCSmith Can you confirm if this was fixed?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-05 15:54] DiscoverSquishy commented on #211
(Sorry messed up and mistakenly closed this)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-05 16:19] asprazz commented on #211
Please confirm if issue has been resolved or not ? If not i will do the required changes

[2019-10-05 17:53] Howlan opened #247 "Links not working in the Gifts section"

[2019-10-05 17:54] Howlan commented on #247
Can I add links for the gifts from Amazon or any other shopping website?

[2019-10-05 18:45] akmalist opened #249 "Films page do not have "Watch now" buttons"
I will update Films page with Watch now buttons and also update the layout of the page.

[2019-10-05 18:46] akmalist commented on #247
I think amazon links are good idea, since the costumes page redirects to Amazon as well.

[2019-10-05 19:16] Howlan commented on #247
I'm on it

[2019-10-05 23:52] #180 closed

[2019-10-05 23:54] #224 closed

[2019-10-05 23:57] MattCSmith commented on #210
@fabrizvi No problem I will go ahead and close this issue.

In your pull request you can add something like `closes #210` which upon the PR being merged it will close the issue. You can read more about it here: https://help.github.com/en/articles/closing-issues-using-keywords

[2019-10-05 23:57] #210 closed

[2019-10-06 00:23] jflopezr11 commented on #42
I would like to add more recipes! 👍

[2019-10-06 04:00] #247 closed

[2019-10-06 05:16] Howlan opened #261 "Gift cards are not readable in smaller screens"
In smaller screen diving the column into 2  does not provide good readability of the text content in the cards

[2019-10-06 05:17] Howlan commented on #261
I'm on it to fix that

[2019-10-06 06:37] fabrizvi commented on #210
Thanks for letting me know Matt. 🤗

[2019-10-06 06:52] tmoran18 commented on #249
Hi, Is anyone working on this? And by watch now button are you talking about a link for watching a trailer for the movie?

[2019-10-06 07:00] akmalist commented on #249
Hi, I'm working on this.
Yes, will create layout for buttons and adjust the layout of the page.

[2019-10-06 08:10] Ray6464 opened #268 "Jingle All the Way (in films) has no card image visible"

[2019-10-06 16:15] stnbnvdz commented on #42
I would like to participate and add more to this especially books.

[2019-10-06 17:11] #261 closed

[2019-10-06 18:01] instinxt commented on #217
Is this still open i would like to work on this :)

[2019-10-06 19:14] stnbnvdz opened #272 "Add 'Read More' links at Books section"
Hi. I will work on this one. Thanks

[2019-10-06 19:20] CouchCat commented on #208
@MattCSmith All done 👏 Please close

[2019-10-06 19:53] ka-hn commented on #219
There is still inconsistensies on the footers trough the different pages (visual and logical). See examples below.

Can I continue on this and resolve it?

![index](https://user-images.githubusercontent.com/27919581/66274907-b2d25780-e883-11e9-9ef8-94a65ef342e8.PNG)
![Recipes](https://user-images.githubusercontent.com/27919581/66274908-b2d25780-e883-11e9-8311-9aab1f82cd1b.PNG)
![Activities](https:

[2019-10-06 21:07] CouchCat opened #274 "Add snowballs as mouse trail animation ❄️"
* To keep up with the winter spirit, some snowballs to accompany you mouse where ever you go!

* Also, I am working on it 🤷‍♂️

[2019-10-06 22:04] CouchCat commented on #274
Closes #274

[2019-10-06 22:04] #274 closed

[2019-10-07 10:06] MattCSmith commented on #135
Closing as this is no longer an issue :)

[2019-10-07 10:06] #135 closed

[2019-10-07 10:07] MattCSmith commented on #179
Closing as this appears to have been resolved

[2019-10-07 10:07] #179 closed

[2019-10-07 10:08] MattCSmith commented on #207
Closing as this appears to have been resolved

[2019-10-07 10:08] #207 closed

[2019-10-07 10:08] #208 closed

[2019-10-07 10:09] MattCSmith commented on #211
Closing as this appears to have been resolved

[2019-10-07 10:09] #211 closed

[2019-10-07 10:10] #212 closed

[2019-10-07 10:11] #213 closed

[2019-10-07 10:13] MattCSmith commented on #214
Hey @AkshitAggarwal
How are you getting on with this task? Are you still interested in it?

[2019-10-07 10:13] MattCSmith commented on #215
Hey @ann-dev
How is it going with this task? are you still working towards adding this new feature?

[2019-10-07 10:15] MattCSmith commented on #217
@jianweilee128 How are you getting on with this task?
If you not keen on completing the task I'm sure @instinxt would be happy to go ahead an implement it

[2019-10-07 10:16] MattCSmith commented on #218
Closing as this appears to have been resolved

[2019-10-07 10:16] #218 closed

[2019-10-07 10:18] MattCSmith commented on #219
Yes please @ka-hn, If you could bring them all inline with the design that would be fantastic

[2019-10-07 10:18] #236 closed

[2019-10-07 10:19] #249 closed

[2019-10-07 10:25] MattCSmith opened #278 "Style card button on the facts page"
On the facts page, lets give the card a button rather than a text link.
Text should read: "Learn more" or "Find out more"
Matching the following design:
![image](https://user-images.githubusercontent.com/6190356/66304475-2b253100-e8f5-11e9-81a3-5c3ebadbd513.png)

### **IF YOU WISH TO WORK ON THIS, PLEASE CHECK NO ONE HAS CLAIMED IT BELOW, IF NOT CLAIM IT BY COMMENTING**

[2019-10-07 10:28] jianweilee128 commented on #217
I completed it already.
If you want you can help to fine tune it and modify the design.

[2019-10-07 10:29] MattCSmith opened #279 "Style card button on the Recipes page"
On the recipes page, lets give the card a button rather than a text link.
Text should read: "View Recipe"

Matching the following design:
![image](https://user-images.githubusercontent.com/6190356/66304475-2b253100-e8f5-11e9-81a3-5c3ebadbd513.png)

### **IF YOU WISH TO WORK ON THIS, PLEASE CHECK NO ONE HAS CLAIMED IT BELOW, IF NOT CLAIM IT BY COMMENTING**

[2019-10-07 10:29] dev-SB commented on #278
I would like to work on this issue.

[2019-10-07 10:30] m-aditya commented on #279
I could pick it up, could you assign it to me?

[2019-10-07 10:30] MattCSmith opened #280 "Style card button on the games page"
On the games page, lets give the card a button rather than a text link.
Text should read: "View Game" or similar

Matching the following design:
![image](https://user-images.githubusercontent.com/6190356/66304475-2b253100-e8f5-11e9-81a3-5c3ebadbd513.png)

### **IF YOU WISH TO WORK ON THIS, PLEASE CHECK NO ONE HAS CLAIMED IT BELOW, IF NOT CLAIM IT BY COMMENTING**

[2019-10-07 10:33] jianweilee128 commented on #217
You could help to change the page name and the links to Name generator instead of elf name generator.

[2019-10-07 10:33] MattCSmith opened #281 "Style card button or film page"
On the films page, lets style the card a button inline with the design scheme.
Text should read: "Watch Now" or similar

Matching the following design:
![image](https://user-images.githubusercontent.com/6190356/66304475-2b253100-e8f5-11e9-81a3-5c3ebadbd513.png)

### **IF YOU WISH TO WORK ON THIS, PLEASE CHECK NO ONE HAS CLAIMED IT BELOW, IF NOT CLAIM IT BY COMMENTING**

[2019-10-07 10:34] MattCSmith commented on #278
Awesome go ahead 👍

[2019-10-07 10:34] MattCSmith commented on #279
Awesome 👍

[2019-10-07 10:35] vincentalfred commented on #281
Hi
I would like to work on this issue

[2019-10-07 10:53] kudoabhijeet commented on #281
Hey, I would like to contribute to this issue.

[2019-10-07 11:04] gaurav219 commented on #280
I'd like to work on it.

[2019-10-07 11:45] learnerjay commented on #268
![Screenshot (133)](https://user-images.githubusercontent.com/45159010/66308940-f2ea1680-e925-11e9-86fa-3115e1986051.png)
You can close the ticket, its working fine.

[2019-10-07 11:48] ann-dev commented on #215
Yup, I'm working on it. Any style guides I should follow (should the final version be as close as possible to the image in first post or just have a ''holiday feel'' to it)?

[2019-10-07 13:10] kushaggarwal commented on #280
I would like to work on it

[2019-10-07 13:18] Ray6464 commented on #268
Checked again, still not working on my side.

Problem: Jingle All The Way card image not showing
stats: using Firefox, visiting the url of this image shows a server not found error. Perhaps use a picture from another host that is more widely available like this one: https://upload.wikimedia.org/wikipedia/en/thumb/c/c4/Jingle_All_the_Way_poster.JPG/220px-Jingle_All_the_Way_poster.JPG

[2019-10-07 15:58] ka-hn commented on #219
I will work on this. Issue claimed.

[2019-10-07 18:12] instinxt commented on #214
i guess i can continue here if this is still open

[2019-10-07 20:40] ann-dev commented on #215
Finished the generator page, I've also added a page linking to other generators. I'll make a pull request now. If there are any issues, please let me know.

[2019-10-08 13:04] ridbay opened #307 "Songs page"
Embed audio player to each Christmas song, so that users can listen to the songs while reading the lyrics.

[2019-10-08 14:04] ridbay commented on #307
I have added the audio player options, check here [#309 Pull](https://github.com/zero-to-mastery/Santafied/pull/309)

[2019-10-08 14:06] Pr0ftR3gret commented on #307
Gotcha, thanks!

[2019-10-08 14:07] ridbay commented on #307
You're welcome.

you can still work on improving it.

[2019-10-08 14:08] ruchirV opened #310 "Selecting movie from the list should scroll the document to top"
The movies page has a big list now and selecting movies from the bottom of the screen should move the page up to start reading the description.

[2019-10-08 14:08] ruchirV commented on #310
working on it..

[2019-10-08 17:05] QuodIntrepidus commented on #310
Fixed the issue of scrolling to top.

[2019-10-08 17:22] akmalist commented on #310
Can someone also fix the last button for movie?
"The Christmas Chronicles"

[2019-10-08 19:30] #310 closed

[2019-10-08 23:05] henryvalbuena commented on #268
I believe this issue has been solved. I can see, using Firefox or Chrome, the new image proposed by @Ray6464 as the new source

**Please confirm.**

<img width="1110" alt="image" src="https://user-images.githubusercontent.com/32443577/66439686-72e3af80-e9fe-11e9-9964-06cd7c04beac.png">

[2019-10-09 09:02] MattCSmith commented on #214
@instinxt This can now be considered open, if you wish to tackle it?

[2019-10-09 09:03] MattCSmith commented on #215
Looks great nice job 🙂

[2019-10-09 09:03] #215 closed

[2019-10-09 09:05] MattCSmith commented on #217
@jianweilee128 Are you able to make a pull request, I dont see the page in the code base 🙂

[2019-10-09 09:06] MattCSmith commented on #219
How's this going @ka-hn ?

[2019-10-09 09:07] #268 closed

[2019-10-09 09:08] MattCSmith commented on #272
How is this going @stnbnvdz ?

[2019-10-09 09:09] #278 closed

[2019-10-09 09:10] #279 closed

[2019-10-09 09:10] #280 closed

[2019-10-09 09:11] #281 closed

[2019-10-09 09:17] jianweilee128 commented on #217
@MattCSmith i just checked and the reindeer name page i made is being put wrongly as the elf generator page.
Will send a pull request to rectify it.

[2019-10-09 09:29] instinxt commented on #214
On it

[2019-10-09 10:15] suleimanbashiru opened #331 "code-cleanup-of-missing-tags"
I clean-up the pages with missing and incomplete tags.

[2019-10-09 12:41] stnbnvdz commented on #272
Done doing it. Please see pull request
![Capturee](https://user-images.githubusercontent.com/21289962/66482286-7c4d3600-ea57-11e9-859c-4971797c792f.JPG)

[2019-10-09 12:55] Ray6464 commented on #268
Confirmed, image is now visible on my side too.

[2019-10-09 18:06] ka-hn commented on #219
@MattCSmith Sorry I haven't pushed anything yet (single parent and working fulltime) but I will work on it and hope fullt push tonight.

[2019-10-09 18:17] kheyrasantos commented on #215
Regarding this: Perhaps we could rename the "Elf name generator" page to just "Name Generators" and create this snowman name generator... What exactly would you like done here? Just cloned the project. The html does not look anything like the mockup

[2019-10-09 19:56] ka-hn opened #340 "mouse-trail-snowball causing overflow x-axis of body element"
When moving the mouse to the right outside of the page the mouse-trail-snowball is causing page to overflow on x-axis.

![Capture](https://user-images.githubusercontent.com/27919581/66515604-b104d000-eadf-11e9-9069-09ce11c2d82c.PNG)

[2019-10-09 23:18] #219 closed

[2019-10-10 06:54] ka-hn opened #345 "page display inconsistencies"
Inconsistensies and bugs in page display.

I will work on this.

![Capture1](https://user-images.githubusercontent.com/27919581/66545684-8cd6dc80-eb3b-11e9-9b3e-a3a1c0fa4b92.PNG)
![Capture2](https://user-images.githubusercontent.com/27919581/66545685-8cd6dc80-eb3b-11e9-9bb4-a8866fd9cafa.PNG)
![Capture3](https://user-images.githubusercontent.com/27919581/66545686-8d6f7300-eb3b-11e9-8410-38f34f09bbd

[2019-10-10 07:14] #345 closed

[2019-10-10 09:02] shafer949 opened #347 "fix the layout / functionality on the costume page"
1. Remove the Snowflake Costume option as there is no content for it currently.
2. Create a Santa tab and move Santa content under it.
3. Create Ugly Sweater or Vest tab and move Ugly Sweater and Sweater Vest Combo Pack content under it.
4. Create The Grinch tab and move The Grinch content under it.

![costume-layout-to-fix](https://user-images.githubusercontent.com/26129170/66555229-f0e5aa80-eb13

[2019-10-10 09:02] shafer949 commented on #347
I am working on this currently.

[2019-10-10 10:54] shafer949 opened #353 "fix the display of the book page"
1. Only show the book Twas The Night Before Christmas when the tab is selected.
2. Remove the <<<<<<< HEAD related code.
3. Only show the Polar Express when tab is selected.

[2019-10-10 10:54] shafer949 commented on #353
I am working on this issue.

[2019-10-10 12:31] sanjithpk opened #355 "unwanted text on movies page"
![image](https://user-images.githubusercontent.com/40496139/66568420-02b46580-eb87-11e9-8cff-0f07f54a918d.png)

[2019-10-10 15:45] regartzpris opened #358 "Footer posisition not right."
Footer posisition not right ini Party Costumes &  Christmas Songs  page .  i will work for this one

[2019-10-10 15:46] regartzpris commented on #358
i will work for this one

[2019-10-10 15:53] ruchirV opened #359 "Items selection should scroll page to top."
Pages : Books, Recipe, Facts

[2019-10-10 17:04] regartzpris commented on #358
#362  fixing footer position and delete unwanted word from footer

[2019-10-10 17:44] #358 closed

[2019-10-10 18:43] jflopezr11 commented on #42
I would like to fix up the recipes page to be a bit more mobile responsive. would anyone like to help me with that? please.

[2019-10-10 23:45] atomikjaye opened #368 "Footer is not centered in smaller viewports"
Footer is centered through padding currently, which pushes footer to the left when at small view ports. Should be centered for all view ports.

[2019-10-10 23:45] atomikjaye commented on #368
I will work on this

[2019-10-10 23:49] m6ng opened #369 "Footer links don't direct to right pages"
The links at the footer of index.html does not lead to the correct web pages.

It's a quick fix so I will do it in a bit.

[2019-10-11 00:09] m6ng commented on #369
#371 should have fixed this issue.

[2019-10-11 08:54] #359 closed

[2019-10-11 09:01] ruchirV opened #377 "Reuse code for header and footer part in all the pages"
There is so much repetitive code in all the html pages for the header and the footer parts. I am sure there must be some way to reuse the code by writing separate header and footer html pages and including that in the main pages.. can someone try that?

[2019-10-11 09:17] EricPuskas commented on #307
Hey guys! I'm not quite sure if it's just me but I can't seem to pull up all the songs. I click on the menu on the left and only a few of them work. "All I Want for Christmas Is You",  "Jingle Bells", these work, but "Run Rudolph Run" doesn't.  By clicking on it, nothing happens essentially.

[2019-10-11 10:25] VrajKD opened #379 "Snowman Name generator broken for uppercase letters"
UpperCase letters in the snowman name generator return undefined in the answer string.

I'll fix this.

[2019-10-11 15:08] itsaiub commented on #340
I will fix this issue

[2019-10-11 16:12] regartzpris opened #382 "card for gift in gift pages not right"

[2019-10-11 16:12] regartzpris commented on #382
i will work for this issue

[2019-10-11 16:25] regartzpris commented on #382
#383 fixing card position in gift page

[2019-10-11 17:10] VrajKD opened #386 "Search button in blogs page has wrong icon size"

[2019-10-12 08:51] #382 closed

[2019-10-12 10:58] umme786 opened #398 "Scroll is missing in fact page"
There are more than Eight Facts in code but its displaying 8 facts, its means scroll is missing

![image](https://user-images.githubusercontent.com/34029903/66700378-27d2e080-ed0d-11e9-9937-ecfbe4f7a289.png)

[2019-10-12 11:01] umme786 commented on #398
I will going to take up this issue

[2019-10-12 11:23] umme786 commented on #398
Issue is solved

[2019-10-12 11:23] #398 closed

[2019-10-12 17:57] asifsadek opened #405 "Christmas Activity Calendar"
A calendar That has Recorded of all activities during Christmas.

[2019-10-12 21:15] MattCSmith commented on #89
Closing as I think this has been resolved, feel free to reopen if not

[2019-10-12 21:15] #89 closed

[2019-10-12 21:17] #217 closed

[2019-10-12 21:18] #214 closed

[2019-10-12 21:18] #272 closed

[2019-10-12 21:21] MattCSmith commented on #307
I seem to have this issue too. Since the original issue was solved, Im going to close this, will open a new issue to tackle that problem

[2019-10-12 21:21] #307 closed

[2019-10-12 21:23] MattCSmith commented on #331
How is this going @suleimanbashiru ?

[2019-10-12 21:24] MattCSmith commented on #340
How is this going @itsaiub ?

[2019-10-12 21:25] #347 closed

[2019-10-12 21:27] MattCSmith commented on #353
@shafer949 How is is issue going. Appears the PR has a conflict on it that needs resolving

[2019-10-12 21:27] #355 closed

[2019-10-12 21:29] #368 closed

[2019-10-12 21:29] #369 closed

[2019-10-12 21:30] MattCSmith commented on #377
@itsaiub Im sure you have noticed already, but this should already be present on the header

[2019-10-12 21:30] #379 closed

[2019-10-12 21:30] #386 closed

[2019-10-12 21:32] MattCSmith opened #407 "Songs Page Sub Nav Is Broken"
![image](https://user-images.githubusercontent.com/6190356/66707904-15be6580-ed40-11e9-931f-e2ccf07de9f3.png)

[2019-10-12 22:08] shafer949 commented on #353
I will take a look at the PR and fix the conflict.

[2019-10-12 22:41] shafer949 commented on #353
@MattCSmith it looks like this was fixed already with a different PR now. I will close this one.

[2019-10-12 22:41] #353 closed

[2019-10-13 00:06] beaps opened #413 "Add an animation to the logo"
Add an animation and red color to the logo.

I will do this task!

[2019-10-13 05:14] suleimanbashiru commented on #331
Going good will continue on Monday if   I find issues

[2019-10-13 05:20] ChameeraD commented on #407
Shall I work on this

[2019-10-13 08:32] Valentinezhen commented on #42
#424 Add Jack Frost to films page

[2019-10-13 08:44] AmirQadir commented on #407
I fixed this bug and made a pull request 10-11 hours ago. Please have a look

[2019-10-13 16:59] ka-hn commented on #340
@itsaiub Are you working on it? Otherwise I will fix it, it's kinda simple.

[2019-10-13 17:16] ka-hn opened #428 "add Books missing Dark Mode"
Books page is missing Dark mode.

I will fix this.

[2019-10-13 19:16] beaps opened #430 "Fix some images of the gift page"
There are distorted images in section "1. Plush Toys"

I will work on this.

[2019-10-13 19:59] #428 closed

[2019-10-13 21:41] bk987 opened #434 "Some issues with the index carousel"
Noticed some issues with the index carousel:

- The first item in the carousel does not have a caption
- The second item has two hyperlinks nested
- "Welcome to Santafied" should be the first item

I am working on this.

[2019-10-13 22:18] bk987 commented on #434
Fixed.

[2019-10-13 22:18] #434 closed

[2019-10-14 17:45] grieff commented on #42
I've added a new film #443
I may add more films and recipes in the next days :)

[2019-10-14 18:06] Tereflech17 opened #445 "Fix white spaces after footer for Facts, Books and Activities pages"

[2019-10-14 18:07] Tereflech17 commented on #445
I'm currently working on this issue.

[2019-10-14 19:07] Tereflech17 commented on #445
I'm currently working on this issue.

[2019-10-14 21:17] zullo91 commented on #42
Could we add a new page or split the existing Game page, into two different parts, a Real and Digital Video Games ?

[2019-10-15 02:19] hungdzai opened #458 "Size among page cards are nonuniform"
![image](https://user-images.githubusercontent.com/33242351/66794781-a2982900-eed0-11e9-9aae-cd15e4210f6a.png)

[2019-10-15 02:19] hungdzai commented on #458
I will work on this

[2019-10-15 05:30] #458 closed

[2019-10-15 15:13] MattCSmith commented on #377
@itsaiub Are you still working on this?

[2019-10-15 15:15] #407 closed

[2019-10-15 15:15] #413 closed

[2019-10-15 15:17] #430 closed

[2019-10-15 18:18] ka-hn opened #468 "Implement template to songs page"
Implement usage of HTML template on songs page to minimize repetitive code and to assert all cards and menu items look the same.

I will work on this

[2019-10-15 18:44] #340 closed

[2019-10-15 21:58] lusalga opened #473 "Nav bar alignment"
I just noticed the Nav Bar got a problem with alignment, that affected drop down menu (better seen on pictures). I checked on Chrome, also with same problem.

![Nav bar alignment01](https://user-images.githubusercontent.com/40376053/66872918-c27d2a80-ef6c-11e9-8a6e-41674090700c.png)
![Nav bar alignment02](https://user-images.githubusercontent.com/40376053/66872919-c3ae5780-ef6c-11e9-802f-9ca3fb7ef

[2019-10-15 22:37] lusalga commented on #473
I just worked on the toggle dark mode alignment (changed justify content to flex end).

[2019-10-16 07:28] alansarluv commented on #473
@lusalga so currently the alignment still an issue right ?
i'll pick up this ticket

[2019-10-16 11:32] #468 closed

[2019-10-16 16:03] detautama opened #480 "Menu on Christmast facts is crossing line of footer"
![image](https://user-images.githubusercontent.com/18025983/66937094-6d770c80-f071-11e9-8ffb-25616f6f0a7a.png)

This could be fixed by updating height of menu

[2019-10-16 16:05] alansarluv commented on #473
Cool, i've just open the PR for this problem here
https://github.com/zero-to-mastery/Santafied/pull/481

[2019-10-16 16:50] detautama opened #484 "Home page checkout section not responsive"
![image](https://user-images.githubusercontent.com/18025983/66940697-fa24c900-f077-11e9-8def-31b6ba68553e.png)

[2019-10-16 18:43] lusalga commented on #473
Yay! So nice working with yall! Learning a lot XD

[2019-10-16 20:40] obulaworld commented on #42
I will like to add more Films and Songs

[2019-10-16 20:45] obulaworld commented on #42
I would like to split this

[2019-10-17 00:57] Natalina13 opened #497 "Card images on index page not visible"
The card images on the home page are not visible as indicated below.
<img width="753" alt="Capture1" src="https://user-images.githubusercontent.com/43284504/66969457-70a4d500-f03e-11e9-9c0e-9854c6ca1e85.PNG">

[2019-10-17 00:59] Natalina13 commented on #497
Added a new PR to handle this issue.
Changed the path of the background-image URL for all the cards on the index page.
<img width="801" alt="Capture2" src="https://user-images.githubusercontent.com/43284504/66969517-ac3f9f00-f03e-11e9-83e3-243d16fa91b8.PNG">

[2019-10-17 00:59] Natalina13 commented on #497
PR #496

[2019-10-17 01:27] Seasick-Turtle opened #498 "Watches on gift page not uniform with rest of the items"
The styling for the watches section is not consistent with the rest of the gifts page.

[2019-10-17 01:27] Seasick-Turtle commented on #498
I'm currently working on this issue.

[2019-10-17 01:35] Seasick-Turtle commented on #498
Submitted: [PR #499 ](https://github.com/zero-to-mastery/Santafied/pull/499)

[2019-10-17 15:40] #497 closed

[2019-10-17 15:41] Natalina13 commented on #497
Issue Resolved

[2019-10-17 21:08] AbdussamadYisau commented on #377
Would like to take this up if it's still available

[2019-10-18 04:17] Prashant2108 commented on #405
The static part is setup. I will try to implement the dynamic part as soon as possible. If anyone is willing to contribute, then they can move ahead.

[2019-10-18 09:03] thoyvo opened #510 "dark mode not trnsfering through pages"

[2019-10-18 11:43] r4pt0s commented on #510
I'll take it.
Looks like another PR have overwritten this feature which I made.

Thanks for pointing this out.

[2019-10-18 18:12] Bhupeshverma opened #514 "Carousel image gets streched on mobile view"
![Screen Shot 2019-10-18 at 11 40 43 PM](https://user-images.githubusercontent.com/15822798/67117646-dccf3680-f200-11e9-8288-374ca77b30b2.png)

[2019-10-18 18:38] Bhupeshverma opened #515 "fix banner on gift page too large"
![Screen Shot 2019-10-19 at 12 07 55 AM](https://user-images.githubusercontent.com/15822798/67119330-8cf26e80-f204-11e9-99b8-5aae6d8f76b6.png)
Taking to much space

[2019-10-18 18:39] Bhupeshverma commented on #515
I am working on it

[2019-10-20 13:21] toserjude opened #526 "Fix film links"
There are some incorrect links in film section.

[2019-10-20 13:22] toserjude commented on #526
I'm working on it.

[2019-10-20 13:41] toserjude commented on #526
https://github.com/zero-to-mastery/Santafied/pull/527

[2019-10-20 15:05] Aravindh-SNR commented on #42
Hi, I've added 3 more activities in the activities page. PR #528.
Cheers :)

[2019-10-20 19:16] #526 closed

[2019-10-21 18:29] #510 closed

[2019-10-21 22:52] KarlaChen commented on #484
Can I fix this one? @detautama

[2019-10-21 23:49] #484 closed

[2019-10-21 23:49] #480 closed

[2019-10-22 00:10] #498 closed

[2019-10-22 00:33] Seasick-Turtle opened #532 "Calendar issue at lower resolutions"
When testing the calendar at lower resolutions, Saturday and its associated number get moved into Sunday's column (I.e. the first column). This also happens to cause the numbers to be displayed on the wrong days.

Example:
![Calendar issue](https://user-images.githubusercontent.com/25016637/67252591-4043a900-f439-11e9-97be-040767f50224.png)

[2019-10-22 00:33] Seasick-Turtle commented on #532
Currently working on this

[2019-10-22 03:49] shakti97 opened #535 "Navigation menu items on hover effect not visible"

[2019-10-22 04:23] shakti97 opened #537 "Toggling Mode Should be little smooth"
Thinking of little bit transition while toggling make it quite better

[2019-10-22 19:55] aloksingh3112 opened #539 "Adding images in calender and wishes card"
I think calender card should have images like others and also one more image in wishes card as it looks weird

[2019-10-24 10:54] NunoCPNP commented on #537
Working on it !

[2019-10-26 14:22] Saksham27 opened #557 "Navbar ->> Navigation hover animation and functionality only working on home page."
Navigation hover animation and functionality classes are not applied in the navigation of rest of the pages

[2019-10-26 14:22] Saksham27 commented on #557
I am working on this.

[2019-10-26 15:23] Saksham27 commented on #557
I have worked on this and added a pull request
**fixed hover on navigation not working on pages #558**

Also fixed a issue with dark mode toggle button having unnecessary markup on all the pages

[2019-10-26 21:02] Saksham27 commented on #557
My pull request has been merged. Closing this issue.

[2019-10-26 21:02] #557 closed

[2019-10-26 23:21] Saksham27 commented on #535
I worked on this issue. It has been resolved. my pull request has also been merged.
fixed hover on navigation not working on pages #558

This issue can be closed now.

[2019-10-28 15:48] ElijahWale commented on #539
Will work on these now

[2019-10-29 03:35] nnh242 commented on #42
I will add more content for recipes.

[2019-10-30 18:45] NorahJC opened #591 "Calendar image disappears on card hover"
Near the bottom of the page, when the calendar card is hovered over, the image disappears. This is not in line with the behavior the previous cards have.

[2019-10-30 20:06] NorahJC opened #593 "duplication of certain films on certain tabs"
Likely due to not changing the id attribute

[2019-10-30 20:19] NorahJC commented on #593
or people aren't making unique ids since some of the movies may be duplicated or have the same naming / story

[2019-10-30 20:20] NorahJC commented on #593
a suggested solution would be to have people append there usernames to the id so that it's unique

[2019-10-30 20:20] NorahJC commented on #593
#42

[2019-10-30 20:50] NorahJC commented on #593
Or also possiblely people are leaving their tab active

[2019-10-30 20:51] NorahJC commented on #593
I'll go on ahead and fix it

[2019-10-31 18:03] haichuan0424 commented on #591
Hi, I am working on it.

[2019-11-01 03:22] NorahJC commented on #593
#592 solved

[2019-11-01 03:22] #593 closed

[2019-11-01 14:32] #42 closed

[2019-11-01 14:32] #331 closed

[2019-11-01 14:33] #377 closed

[2019-11-01 14:33] #405 closed

[2019-11-01 14:33] #445 closed

[2019-11-01 14:33] #514 closed

[2019-11-01 14:33] #515 closed

[2019-11-01 14:33] #532 closed

[2019-11-01 14:33] #535 closed

[2019-11-01 14:33] #537 closed

[2019-11-01 14:33] #539 closed

[2019-11-01 14:33] #591 closed